.chart-container {
    position: relative;
    height: 500px;
    width: 100%;
    /* margin-right: 90px; */
  }
  .donations-container {
    max-height: 900px;
    width: 170vh;
    overflow: auto;
  }
  
  .grid {
    overflow: auto; /* Ensure grid itself is scrollable if needed */
  }
  
  .modal-content {
    max-height: 80vh; /* Adjust as necessary */
    overflow-y: auto; /* Scroll if content overflows */
  }
  .Smart_match_container{
    max-height: 1200px;
  }
  .funding-container{
    max-height: 900px;
    width: 170vh;
  }
  
  